version: 2
updates:
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    ignore:
      # Ignore major version updates for dependencies that might break compatibility
      - dependency-name: '*'
        update-types:
          - version-update:semver-major
