name: GoReleaser

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    uses: charmbracelet/meta/.github/workflows/goreleaser@main
    secrets: inherit
